@inherits LayoutComponentBase
@inject HttpClient Http

<div class="@Background" style="font-size: @FontSizeString">
    <nav class="px-5 d-block">
        <span>Font Size: @FontSize</span>
        <button @onclick="IncreaseSize" class="btn btn-primary">+</button>
        <button @onclick="DecreaseSize" class="btn btn-secondary">-</button>
        <span class="ms-3">Background:</span>
        <select class="form-select w-auto d-inline @Background" @bind="@Background">
            <option value="">Light</option>
            <option value="backgroundPaper">Paper</option>
            <option value="backgroundDark">Dark</option>
        </select>
    </nav>
    @Body
</div>

@code
{
    public string FontSizeString { get; set; } = "15pt";
    public string Background { get; set; } = "";
    public int FontSize { get; set; } = 15;
    public void IncreaseSize()
    {
        FontSize++;
        FontSizeString = $"{FontSize}pt";
    }
    public void DecreaseSize()
    {
        FontSize--;
        FontSizeString = $"{FontSize}pt";
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
